html {
    scroll-behavior: smooth;
}
* {
    line-height: 1.2em;
}
#sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.navbar {
    text-shadow: .2em .2em .3em silver;
    padding: 2%;
    font-family: 'Freckle Face', cursive;
    text-align: center;
    background-color: rgb(100, 219, 235);
}
.this {
    font-size: 300%;
    text-decoration: none;
    color: rgb(0, 47, 92);
}
a.navbar {
    color: rgb(0, 96, 185);
    font-size: 200%;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;
    font-family: 'Freckle Face', cursive;
    z-index: 9999;
}
a.navbar:hover, a.navbar:focus {
    color: rgb(0, 47, 92);
}
footer {
    padding: 2%;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Alata', sans-serif;
    background-color: rgb(100, 219, 235);
    color: rgb(0, 96, 185);
}
h1 {
    font-size: 300%;
    font-family: 'Alata', sans-serif;
    text-align: center;
    color: rgb(255, 0, 200);
}

h2 {
    text-align: center;
    font-size: 250%;
    font-family: 'Alata', sans-serif;
}
.chart{
    position: relative;
    margin: auto;
    height: 70vh;
    width: 50vw;
    z-index: -1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }